// color variables for website

:root {
  --h-dark: #15202b;
  --h-purple: #7856ff;
  --h-black: black;
  --h-white: white;
  --h-gray: #868e96;
  --h-gray-light: #e2e2e2;
  --h-pink: #f91880;
  --h-orange: #ff7a00;
  --h-blue: #1da1f2;
  --h-yellow: #ffd400;
  --h-green: #00ba7c;
  --h-gray-light: #e0e0e0;
}

.gradient-bg {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
